body {
  background-color: rgb(58, 53, 53);
  color: white;
}

.logo {
  margin-top: 10%;
  display: flex;
  justify-content: center;
}

.search {
  display: flex;
  height: 30px;
  justify-content: center;
}
.button {
  padding: 1%;
  margin-right: 5%;
  display: flex;
  justify-content: center;
}

.random {
  margin-top: -2.3%;
  margin-left: 5%;
  display: flex;
  justify-content: center;
}
