body {
  background-color: rgb(58, 53, 53);
  color: white;
}

.logo {
  margin-top: 10%;
  display: flex;
  justify-content: center;
}

.search {
  display: flex;
  justify-content: center;
}

button {
  background-color: lightgrey;
  color: white;
  width: 5%;
  height: 30%;
}
