<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>deepocean llc</title>
    <link rel="stylesheet" href="about.css">
    <link rel="icon" href="icon.png">
</head>
<body>
    <header>
    </header>
    <nav>
    <ul class="bar"> 
        <ol><a href="layout.html">home</a></ol>   
        <ol><a href="team.html">Team</a></ol> 
        <ol><a href="contact.html">contact</a></ol> 
        <ol><a href="boats.html">Boats</a></ol> 
        <ol><a href="about.html">about</a></ol> 
    </ul>
    </nav>
    <br>
    <section>
        <img src="deep ocean.png" alt="logo" width="10%">
    </img>
    <h1>deep ocean llc</h1>
    <a href="https://www.linkedin.com">linkdin</a>
<p>We sell boats to customers all over the world!</p>
<p>The boats are made in taiwan and sold in egypt.</p>
<p>Customer service number 1 !</p>
</section>
    <footer>
   <p>about </p>
    </footer>
</body>
</html>