<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>boats</title>
    <link rel="stylesheet" href="boats.css">
</head>
<body>
    <nav>
        <ul class="bar"> 
          <ol><a href="layout.html">home</a></ol>   
        <ol><a href="team.html">Team</a></ol> 
        <ol><a href="contact.html">contact</a></ol> 
        <ol><a href="boats.html">Boats</a></ol> 
        <ol><a href="about.html">about</a></ol
        </ul>
        </nav>
    <table>
      <tr>
    <th>boat</th>
    <th>version</th>
    <th>image</th>
      </tr>  
      <tr>
      <td> 4939</td>
      <td>4949</td>
      <td><img src="imgs/b1.jpg" alt="build" width="65%"></td>
    </tr>
    <tr>
        <td>J3930</td>
        <td>33838</td>
        <td><img src="imgs/b2.jpg" alt="build" width="65%"></td>
      </tr>
      <tr>
        <td>V390</td>
        <td>33839</td>
        <td><img src="imgs/b3.jpg" alt="build" width="65%"></td>
      </tr>
    
    </table>
    <footer>
        <p>about </p>
         </footer>
</body>
</html>