<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>deepocean llc</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <header>
    </header>
    <nav>
    <ul class="bar"> 
     <ol><a href="https://www.youtube.com">list</a></ol>   
     <ol><a href="https://www.ikbenjelle.nl">ikbenjelle</a></ol>  
    </ul>
    </nav>
    <section>
        <img src="deep ocean.png" alt="logo" width="10%">
    </img>
        <h1>deep ocean llc</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis voluptate in, cupiditate nam hic iste facere possimus soluta, architecto quo ea. Quis harum sed eaque! Totam nulla accusantium assumenda dicta.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis voluptate in, cupiditate nam hic iste facere possimus soluta, architecto quo ea. Quis harum sed eaque! Totam nulla accusantium assumenda dicta.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis voluptate in, cupiditate nam hic iste facere possimus soluta, architecto quo ea. Quis harum sed eaque! Totam nulla accusantium assumenda dicta.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis voluptate in, cupiditate nam hic iste facere possimus soluta, architecto quo ea. Quis harum sed eaque! Totam nulla accusantium assumenda dicta.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis voluptate in, cupiditate nam hic iste facere possimus soluta, architecto quo ea. Quis harum sed eaque! Totam nulla accusantium assumenda dicta.</p>

    </section>
    <footer>
    hallo
    test
    </footer>
</body>
</html>