<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>deepocean llc</title>
    <link rel="stylesheet" href="team.css">
    <link rel="icon" href="icon.png">
</head>
<body>
    <header>
    </header>
    <nav>
    <ul class="bar"> 
         <ol><a href="layout.html">home</a></ol>   
        <ol><a href="team.html">Team</a></ol> 
        <ol><a href="boats.html">Boats</a></ol> 
        <ol><a href="about.html">about</a></ol> 
        <ol><a href="contact.html">contact</a></ol> 
    </ul>
    </nav>
    <section>
  


    <div class="rechts">
        <h1>building team</h1>
        <img src="imgs/build.jpg" alt="logo">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi sit laboriosam, cumque unde qui explicabo animi rem! Iure earum ducimus aut molestiae, labore consequuntur laudantium laboriosam aperiam, debitis maiores ut.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione temporibus vel accusantium hic quod reprehenderit iusto! Magni earum reprehenderit doloribus illo, eos esse explicabo beatae alias. Totam quidem odit repellat!</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis, cum? Numquam ipsa ut similique iusto optio debitis atque sunt eum quod illo, vel quasi ad totam, ducimus provident ipsum saepe.</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat earum illo id ab, voluptates velit temporibus nisi. Ex cum officiis cumque. In repellendus autem cumque cum eveniet pariatur sit nulla.</p>
</div>
<div class="links">
    <h1>management</h1>
    <img src="imgs/team.jpg" alt="logo">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi sit laboriosam, cumque unde qui explicabo animi rem! Iure earum ducimus aut molestiae, labore consequuntur laudantium laboriosam aperiam, debitis maiores ut.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione temporibus vel accusantium hic quod reprehenderit iusto! Magni earum reprehenderit doloribus illo, eos esse explicabo beatae alias. Totam quidem odit repellat!</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis, cum? Numquam ipsa ut similique iusto optio debitis atque sunt eum quod illo, vel quasi ad totam, ducimus provident ipsum saepe.</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat earum illo id ab, voluptates velit temporibus nisi. Ex cum officiis cumque. In repellendus autem cumque cum eveniet pariatur sit nulla.</p>
</div>



</section>
    <footer>
   <p>about </p>
    </footer>
</body>
</html>